.reveal {
font-size: 18px;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
margin: 20 20 0 0;
line-height: 160%;
}
.reveal h1 { 
font-size: 2.55em;
}
.reveal h2 {
font-size: 2em;
}
.reveal h3 {
font-size: 1.6em;
}
.reveal p {
line-height: 1.5em;
text-indent: 2em;line-height:130%;
margin-top: 1em;
margin-bottom: 1em;
}
.reveal li {
margin-left: 1em;
margin-top: 0.7em;
margin-bottom: 0.7em;
}
table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
line-height: 1.4em;
font-size: 90%;
}
.reveal pre {
font-size: 90%;
width: auto;
padding: 2px;
padding-bottom: 6px;
line-height: 1.1em;
}
.reveal .slides {
text-align: left;
}
.reveal .controls {
bottom: 45px;
}
.reveal iframe{
max-height: none;
line-height: 160%;
}
.reveal .slides section:not(.stack) {
padding-bottom: 10%;
}
.reveal section img {
border: 0;
}

/* To get sidebar working properly. */

div.sidebar {
margin: 0 0 0.5em 1em !important;
border: medium outset !important;
padding: 0.5em !important;
width: 50%;
}
